@import "../custom.scss";

.capitale-page {

    
  .capitale-form {
    background-color: $card-bg;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: $shadow;
    margin-bottom: 2rem;

    display: grid;
    gap: 1.25rem;
    margin: 0 10%;
  }

  .capitale-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 10%;
  }

  .capitale-item {
    background: $card-bg;
    padding: 1rem 1.25rem;
    border-left: 5px solid $primary-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: $transition;
    gap: 1rem;

    p {
      flex-grow: 1;
      font-size: 1rem;
      margin: 0;
      color: $text-color;
      line-height: 1.4;

      strong {
        color: $primary-color;
      }
    }

    button {
      flex-shrink: 0;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: $primary-color;
  }

  .btn.danger {
    margin-bottom: 2rem;
  }

  .divider {
  border: none;
  height: 2px;
  background: $primary-color;
  margin: 2rem 0;
  border-radius: 5px;
  opacity: 0.5;
}

}
